<!--<div class="card my-5">-->
<!--  <div class="card-body">-->
<!--    <form (ngSubmit)="onSubmit()" [formGroup]="offerForm">-->
<!--      <div class="form-group">-->
<!--        <label for="model">Model</label>-->
<!--        <select id="model" name="model" (change)="change($event)" [(ngModel)]="offer.model" class="form-control" formControlName="model" required>-->
<!--          <option *ngFor="let m of models" [value]="m.id" >{{m.name}}</option>-->
<!--        </select>-->
<!--      </div>-->



<!--      <div class="form-group">-->
<!--        <label for="year">Registration year</label>-->
<!--        <input type="number" [(ngModel)]="offer.year"-->
<!--               class="form-control"-->
<!--               id="year"-->
<!--               name="year"-->
<!--               min="1900"-->
<!--               max="2021"-->
<!--               step="1"-->
<!--               formControlName="year"-->
<!--               placeholder="Enter registration year"-->
<!--               required>-->
<!--      </div>-->




<!--&lt;!&ndash;      <button type="submit" [disabled]="!offerForm.valid"&ndash;&gt;-->
<!--&lt;!&ndash;              class="btn btn-info">Submit</button>&ndash;&gt;-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->



<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #offerForm="ngForm">
      <div class="form-group">
        <label for="model">Model</label>
        <select id="model" name="model" (change)="change($event)" [(ngModel)]="offer.model" class="form-control"
                required #model='ngModel'>
          <option *ngFor="let m of models" [value]="m.id" >{{m.name}}</option>
        </select>
      </div>
      <div *ngIf="model.errors && model.touched" class="alert">
        <div *ngIf="model.errors['required']">Model is required.</div>
      </div>
      <div class="form-group">
        <label for="year">Registration year</label>
        <input type="number" [(ngModel)]="offer.year"
               class="form-control"
               id="year"
               name="year"
               min="1900"
               max="2021"
               step="1"
               placeholder="Enter registration year"
               required #year="ngModel">
        <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
          <div *ngIf="year.errors?.['required']">Registration year is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="number" [(ngModel)]="offer.mileage"
               class="form-control"
               id="mileage"
               name="mileage"
               min="0"
               step="1"
               placeholder="Enter Mileage"
               required #mileage="ngModel">
        <div *ngIf="mileage.invalid && (mileage.dirty || mileage.touched)" class="alert alert-danger">
          <div *ngIf="mileage.errors?.['required']">Mileage is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="engineType">Engine</label>
        <select id="engineType" name="engineType" [(ngModel)]="offer.engineType" class="form-control"
                required #engineType="ngModel">
          <option *ngFor="let e of engines" [ngValue]="e" >{{e}}</option>
        </select>
        <div *ngIf="engineType.errors && engineType.touched" class="alert">
          <div *ngIf="engineType.errors['required']">Engine type is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="transmissionType">Transmission</label>
        <select id="transmissionType" name="transmissionType" [(ngModel)]="offer.transmissionType" class="form-control"
                required #transmissionType="ngModel">
          <option *ngFor="let t of transmissions" [ngValue]="t" >{{t}}</option>
        </select>
        <div *ngIf="transmissionType.errors && transmissionType.touched" class="alert">
          <div *ngIf="transmissionType.errors['required']">Transmission type is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="vehicleCondition">Condition</label>
        <select id="vehicleCondition" name="transmissionType" [(ngModel)]="offer.vehicleCondition" class="form-control"
                required #vehicleCondition="ngModel">
          <option *ngFor="let vc of vehConditions" [ngValue]="vc" >{{vc}}</option>
        </select>
        <div *ngIf="vehicleCondition.errors && vehicleCondition.touched" class="alert">
          <div *ngIf="vehicleCondition.errors['required']">Vehicle condition is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" [(ngModel)]="offer.price"
               class="form-control"
               id="price"
               name="price"
               min="0"
               step="1"
               placeholder="Enter Price"
               required #price="ngModel">
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
          <div *ngIf="price.errors?.['required']">Price is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input type="text" [(ngModel)]="offer.imageUrl"
               class="form-control"
               id="imageUrl"
               name="imageUrl"
               placeholder="Enter Image Url"
               required #imageUrl="ngModel">
      </div>
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)" class="alert alert-danger">
        <div *ngIf="imageUrl.errors?.['required']">Photo Url is required.</div>
      </div>

      <button type="submit" [disabled]="!offerForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
