<h2>Employee Details</h2>

<hr></hr>
<div *ngIf="offer">
  <div><label><b>Offer creation date: </b></label> {{offer.creationDate}}</div>
  <div><label><b>Model: </b></label> {{offer.model}}</div>
  <div><label><b>Year: </b></label> {{offer.year}}</div>
  <div><label><b>Price: </b></label> {{offer.price}}</div>
  <div><label><b>Mileage: </b></label> {{offer.mileage}}</div>
  <div><label><b>Engine: </b></label> {{offer.engineType}}</div>
  <div><label><b>Transmission: </b></label> {{offer.transmissionType}}</div>
  <div><label><b>Condition: </b></label> {{offer.vehicleCondition}}</div>
  <div><label><b>Photo: </b></label></div>
  <div><img src="{{offer.imageUrl}}" alt="photo" width="300" height="200"> </div>
</div>

<br>
<br>
<button (click)="offers()" class="btn btn-primary">Back to Offers List</button><br>
