<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #modelForm="ngForm">
      <div class="form-group">
        <label for="name">Model name</label>
        <input type="text" [(ngModel)]="vModel.name"
               class="form-control"
               id="name"
               name="name"
               minlength="3"
               maxlength="40"
               placeholder="Enter Model Name"
               required #name="ngModel">
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</div>
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <select id="brand" name="brand" [(ngModel)]="vModel.brand" class="form-control" required #brand="ngModel">
          <option *ngFor="let br of brands | async" [ngValue]="br.name" >{{br.name}}</option>
        </select>
      </div>
      <div *ngIf="brand.errors && brand.touched" class="alert">
        <div *ngIf="brand.errors['required']">Brand is required.</div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="vModel.category" class="form-control" id="category" name="category" required #category="ngModel">
          <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
        </select>
      </div>
      <div *ngIf="category.errors && category.touched" class="alert">
        <div *ngIf="category.errors['required']">Category is required.</div>
      </div>
      <div class="form-group">
        <label for="startYear">Start Year</label>
        <input type="number" [(ngModel)]="vModel.startYear"
               class="form-control"
               id="startYear"
               name="startYear"
               min="1900"
               step="1"
               placeholder="Enter Start Year"
               required #startYear="ngModel">
      </div>
      <div *ngIf="startYear.invalid && (startYear.dirty || startYear.touched)" class="alert alert-danger">
        <div *ngIf="startYear.errors?.['required']">Start year is required.</div>
      </div>
      <div class="form-group">
        <label for="endYear">End Year</label>
        <input type="number" [(ngModel)]="vModel.endYear"
               class="form-control"
               id="endYear"
               name="endYear"
               min="1900"
               step="1"
               placeholder="Enter End Year"
               required #endYear="ngModel">
      </div>
      <div *ngIf="endYear.invalid && (endYear.dirty || endYear.touched)" class="alert alert-danger">
        <div *ngIf="endYear.errors?.['required']">End year is required.</div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input type="text" [(ngModel)]="vModel.imageUrl"
               class="form-control"
               id="imageUrl"
               name="imageUrl"
               placeholder="Enter Image Url"
               required #imageUrl="ngModel">
      </div>
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)" class="alert alert-danger">
        <div *ngIf="imageUrl.errors?.['required']">Photo Url is required.</div>
      </div>

      <button type="submit" [disabled]="!modelForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
